.casilla {
    border: 1px solid black;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70px;
    height: 65px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    width: 90vh;
    height: 90vh;
    margin: auto;
}

.casilla-color {
    width: 100%;    
    height: 20px;     
    background-color: transparent;
}

.imagenInterrogacion{
    height: 120px;
    width: 180px;
    margin: 75px 200px 50px 375px; /* arriba, derecha, abajo, izquierda */
    transform: rotate(-20deg);
    border: dotted;
}
.imagenFortuna{
    height: 150px;
    width: 180px;
    margin: 50px 100px 10px 50px; /* arriba, derecha, abajo, izquierda */
    transform: rotate(130deg);
    border: dotted;
}

.ficha {
    width: 25px;
    height: 25px;
    margin: 2px;
    border-radius: 50%;
}




