<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Tablero Monopoly</title>
  <link rel="stylesheet" href="styles/vista.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg custom-navbar py-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="../assets/imgs/logo.png" alt="Logo" class="rounded mx-auto d-block">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="juego.html">Jugar</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-disabled="true" href="tablero.html">Nuestro Tablero</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
          <button class="btn btn-dark" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <table class="tablero">
    <!-- FILA SUPERIOR -->
    <tr>
      <td class="casilla esquina" id="0">GO</td>

      <td class="casilla top propiedad" id="1">
        <div class="color-bar"></div>
        <span>Kentucky Ave</span>
      </td>
      <td class="casilla top" id="2"><span>Chance</span></td>
      <td class="casilla top propiedad">
        <div class="color-bar"></div>
        <span>Indiana Ave</span>
      </td>
      <td class="casilla top propiedad" id="3">
        <div class="color-bar" id="4"></div>
        <span>Illinois Ave</span>
      </td>
      <td class="casilla top" id="5"><span>B&O RR</span></td>
      <td class="casilla top propiedad">
        <div class="color-bar" id="6"></div>
        <span>Atlantic Ave</span>
      </td>
      <td class="casilla top propiedad" id="7">
        <div class="color-bar" id="8"></div>
        <span>Ventnor Ave</span>
      </td>
      <td class="casilla top" id="8"><span>Water Works</span></td>
      <td class="casilla top propiedad">
        <div class="color-bar" id="9"></div>
        <span>Marvin Gardens</span>
      </td>

      <td class="casilla esquina" id="10">GO TO JAIL</td>
    </tr>

    <!-- LADOS -->
    <tr>
      <td class="casilla left propiedad">
        <div class="color-bar" id="39"></div>
        <span>New York Ave</span>
      </td>
      <td class="empty" colspan="9" rowspan="9"></td>
      <td class="casilla right propiedad">
        <div class="color-bar" id="11"></div>
        <span>Pacific Ave</span>
      </td>
    </tr>
    <tr>
      <td class="casilla left propiedad">
        <div class="color-bar" id="38"></div>
        <span>Tennessee Ave</span>
      </td>
      <td class="casilla right propiedad">
        <div class="color-bar" id="12"></div>
        <span>North Carolina Ave</span>
      </td>
    </tr>
    <tr>
      <td class="casilla left" id="37"><span>Community Chest</span></td>
      <td class="casilla right" id="13"><span>Community Chest</span></td>
    </tr>
    <tr>
      <td class="casilla left propiedad">
        <div class="color-bar" id="36"></div>
        <span>St. James Place</span>
      </td>
      <td class="casilla right propiedad">
        <div class="color-bar"id="14"></div>
        <span>Pennsylvania Ave</span>
      </td>
    </tr>
    <tr>
      <td class="casilla left propiedad">
        <div class="color-bar" id="35"></div>
        <span>Virginia Ave</span>
      </td>
      <td class="casilla right" id="15"><span>Short Line</span></td>
    </tr>
    <tr>
      <td class="casilla left propiedad">
        <div class="color-bar" id="34"></div>
        <span>States Ave</span>
      </td>
      <td class="casilla right" id="16"><span>Chance</span></td>
    </tr>
    <tr>
      <td class="casilla left" id="33"><span>Electric Company</span></td>
      <td class="casilla right propiedad">
        <div class="color-bar" id="17"></div>
        <span>Park Place</span>
      </td>
    </tr>
    <tr>
      <td class="casilla left propiedad">
        <div class="color-bar" id="32"></div>
        <span>St. Charles Place</span>
      </td>
      <td class="casilla right" id="18"><span>Luxury Tax</span></td>
    </tr>
    <tr>
      <td class="casilla esquina" id="31">IN JAIL<br>JUST VISITING</td>
      <td class="casilla esquina" id="19">BOARDWALK</td>
    </tr>

    <!-- FILA INFERIOR -->
    <tr>
      <td class="casilla esquina" id="30">FREE <br>PARKING</td>

      <td class="casilla bottom propiedad">
        <div class="color-bar" id="29"></div>
        <span>Mediterranean Ave</span>
      </td>
      <td class="casilla bottom" id="28"><span>Community Chest</span></td>
      <td class="casilla bottom propiedad">
        <div class="color-bar" id="27"></div>
        <span>Baltic Ave</span>
      </td>
      <td class="casilla bottom" id="26"><span>Income Tax</span></td>
      <td class="casilla bottom" id="25"><span>Reading RR</span></td>
      <td class="casilla bottom propiedad">
        <div class="color-bar" id="24"></div>
        <span>Oriental Ave</span>
      </td>
      <td class="casilla bottom" id="23"><span>Chance</span></td>
      <td class="casilla bottom propiedad">
        <div class="color-bar" id="22"></div>
        <span>Vermont Ave</span>
      </td>
      <td class="casilla bottom propiedad">
        <div class="color-bar" id="21"></div>
        <span>Connecticut Ave</span>
      </td>

      <td class="casilla esquina" id="20">JAIL<br>VISITING</td>
    </tr>
  </table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>